# 1) Print all elements of a list using for loop.

In [6]:
my_list= list(range(0,10,2))
for i in my_list :
    print(i)

0
2
4
6
8

# 2) Using range(1,101), make two list, one containing all even numbers and
# other containing all odd numbers.

In [11]:
# list containing odd numbers
a = list(range(1,101,2))
a

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [16]:
# list containing even numbers
numbers = list(range(1,101,))
for i in numbers:
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

# 3) A company decided to give bonus of 5% to employee if his/her year of service is more than 5
# years. Ask user for their salary and year of service and print the net bonus amount.

In [51]:
print('What is your salary?')
salary = int(input())
print ('How many years have you served the company for?')
year_of_service = int(input())
bonus = 0.05
if year_of_service > 5:
    print('Your net bonus amount is:'+ str(int(salary * bonus)))

What is your salary?
200000
How many years have you served the company for?
10
Your net bonus amount is:10000

# 4) Take input of age of 3 people by user and determine oldest and youngest among them.

In [102]:
print('How old are you?')
user1_age = int(input('Enter age of user1_age: '))
print('How old are you?')
user2_age = int(input('Enter age of user2_age: '))
print('How old are you?')
user3_age = int(input('Enter age of user3_age: '))
if user1_age > user2_age and user1_age > user3_age :
    print("user1_age is oldest")
elif user2_age > user1_age and user2_age > user3_age :
    print("user2_age is oldest")
elif user3_age > user1_age and user3_age > user2_age :
    print("user3_age is oldest")
    
if user1_age < user2_age and user1_age < user3_age :
    print("user1_age is youngest")
elif user2_age < user1_age and user2_age < user3_age:
    print("user2_age is youngest")
elif user3_age < user1_age and user3_age < user2_age :
    print("user3_age is youngest")

How old are you?
Enter age of user1_age: 87
How old are you?
Enter age of user2_age: 78
How old are you?
Enter age of user3_age: 57
user1_age is oldest
user3_age is youngest

# 5)  A school has following rules for grading system:
a. Below 25 -F
b. 25 to 45 -E
c. 45 to 50 -D
d. 50 to 60 -C
e. 60 to 80 -B
f. Above 80 -A

In [ ]:
# Ask user to enter marks and print the corresponding grade.

In [129]:
print('What did score in Mathemathics?')
maths_grade = int(input('Mathematics score: '))
if maths_grade >= 80:
    print('A')
elif maths_grade >= 60 and a <= 80:
     print('B')
elif maths_grade >= 50 and a <= 60:
     print('C')
elif maths_grade>= 45 and a <= 50:
    print('D')
elif maths_grade >= 25 and a <= 45 :
    print('E')
elif maths_grade <= 25:
    print('F')

What did score in Mathemathics?
Mathematics score: 43
E

# I want to ask questions on In [111] and [124]

In [111]:
print('What did score in Mathemathics?')
maths_grade = int(input('Mathematics score: '))
print('What did score in English?')
eng_grade = int(input('English score: '))
print('What did score in dataprocessing?')
data_grade = int(input(' dataprocessing: '))

#def determine grade(maths_grade,eng_grade,data_grade ):
if a >= 25:
    print('F')
elif a >= 25 and a <= 45 :
    print('E')
elif a >= 45 and a <= 50:
    print('D')
elif a >= 50 and a <= 60:
     print('C')
elif a >= 60 and a <= 80:
     print('B')
elif a >= 80:
    print('A')

What did score in Mathemathics?
Mathematics score: 12
What did score in English?
English score: 45
What did score in dataprocessing?
 dataprocessing: 35

In [124]:
print('What did score in Mathemathics?')
maths_grade = int(input('Mathematics score: '))
print('What did score in English?')
eng_grade = int(input('English score: '))
print('What did score in dataprocessing?')
data_grade = int(input(' dataprocessing: '))

def determine_grade(maths_grade):
    if maths_grade >= 25:
        return 'F'
#elif a >= 25 and a <= 45 :
    #print('E')
#elif a >= 45 and a <= 50:
    #print('D')
#elif a >= 50 and a <= 60:
     #print('C')
#elif a >= 60 and a <= 80:
     #print('B')
#elif a >= 80:
    #print('A')

What did score in Mathemathics?
Mathematics score: 23
What did score in English?
English score: 56
What did score in dataprocessing?
 dataprocessing: 35

# 6) Write a Python script to merge two Python dictionaries

In [67]:
dict1 = {'room_one': 15, 'room_two': 14 , 'room_three': 12, 'room_four': 11, 'room_five': 16, 'room_six': 17}
dict2 = {'fruit': 'Apple', 'colour': 'purple', 'tutor':'David'}

In [76]:
new = dict1.copy()
new.update(dict2)
print(new)

{'room_one': 15, 'room_two': 14, 'room_three': 12, 'room_four': 11, 'room_five': 16, 'room_six': 17, 'fruit': 'Apple', 'colour': 'purple', 'tutor': 'David'}

# 7 ) Write a Python program to remove a key from a dictionary.

In [80]:
fruit_colour = {'Apple':'green', 'pawpaw' : 'yellow' , 'grape' : 'wine' , 'watermelon' : 'red', 'tomatoes' :  'orange' ,'pineapple' : 'dark green'}
print(fruit_colour)
if  'tomatoes' in fruit_colour:
    del fruit_colour['tomatoes']
    print(fruit_colour)

{'Apple': 'green', 'pawpaw': 'yellow', 'grape': 'wine', 'watermelon': 'red', 'tomatoes': 'orange', 'pineapple': 'dark green'}
{'Apple': 'green', 'pawpaw': 'yellow', 'grape': 'wine', 'watermelon': 'red', 'pineapple': 'dark green'}

In [81]:
# Another method of deleting a key from a dictionary
fruit_colour = {'Apple':'green', 'pawpaw' : 'yellow' , 'grape' : 'wine' , 'watermelon' : 'red', 'tomatoes' :  'orange' ,'pineapple' : 'dark green'}
del fruit_colour['tomatoes']
print(fruit_colour)

{'Apple': 'green', 'pawpaw': 'yellow', 'grape': 'wine', 'watermelon': 'red', 'pineapple': 'dark green'}

# 8) Write a Python program to get the largest number from a list

In [90]:
my_num =list(range(5,50,5))
print(my_num)
max_num = max(my_num)
print(max_num)

[5, 10, 15, 20, 25, 30, 35, 40, 45]
45

# The end